.header{
    background-color: rgb(58, 188, 144);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black ;
    
}
.header-image{
    width: 80px;
    height: 70px;
    /* padding-left: 10px;
    padding-top: 10px; */
}
.nav-items ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.nav-items ul li{
    padding: 10px;
}

/* <---Body--> */
.card img{
    width: 100%;
    
}

.card{
    width: 254px;
    border: 1px solid rgb(177, 172, 172);
    border-radius: 3%;
    padding: 20px;
    margin: 10px;
}
.body-cards{
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.h4{

    align-items: center;
    justify-content:center;
}

.shimmer-cards{
    width: 254px;
    background-color: rgb(222, 220, 220);
    padding: 20px;
    margin: 10px;
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 362.64px;
}

.stars{
    background-color: aquamarine;
    width:auto
}

.error-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-left: 20%;
}
