.header{
    background-color: rgb(58, 188, 144);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black ;
}
.header-image{
    width: 40px;
    padding-left: 10px;
    padding-top: 10px;
}
.nav-items ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.nav-items ul li{
    padding: 10px;
}

/* <---Body--> */
.card img{
    width: 100%;
    
}
.card{
    width: 254px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    
   
}
.body-cards{
    display: flex;
    flex-wrap: wrap;
    
   
}

